@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr>
        <th>User Id</th>
        <th>User First Name</th>
        <th>User Last Name</th>
        <th>User Email</th>
        <th>User Password</th>
        <th>User Contact</th>
        <th>User Usertype</th>
        <th>User Created</th>


    </tr>

</table>

